.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  color: white;
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}
#footer{
  padding:3rem;
  background-color: #4799d0;
  text-align: center;}
/*content section*/
#content{
  background-color: #8ed0d7;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  padding: 5% 15% ;
  background-size: cover;
  min-height: 1070px;
}

