<section id="header">
  <app-header></app-header>
</section>
<div class="container-fluid" id="content">
<div class="button-row">
  <a class="btn btn-info" [routerLink]="['/books']">Go Back To Book List</a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{book.title}}</h2></mat-card-title>
    <mat-card-subtitle>{{book.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>ISBN:</dt>
      <dd>{{book.isbn}}</dd>
      <dt>Author:</dt>
      <dd>{{book.author}}</dd>
      <dt>Publisher:</dt>
      <dd>{{book.publisher}}</dd>
      <dt>Publish Year:</dt>
      <dd>{{book.published_year}}</dd>
      <dt>Update Date:</dt>
      <dd>{{book.updated_date | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a class="btn btn-info" [routerLink]="['/book-edit', book._id]">Edit Book Info</a>
  </mat-card-actions>
</mat-card>
</div>

<!--footer section-->
<footer id="footer">
  <p>Vlad Dubrovenski for CSEE 5590</p>
</footer>
